.btn-reuse {
  outline: none;
  border: none;
  padding: 1rem 2rem;

  background-color: var(--reading);
  color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);

  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.btn-reuse:hover {
  transform: translateY(-2px);
}
