.booklist-section .booklist-wrapper {
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, auto));
  list-style: none;
  max-width: 110rem;
  margin-top: 8rem;
}

@media only screen and (max-width: 75em) {
  .booklist-section .booklist-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(20rem, auto));
    grid-gap: 2rem;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 29em) {
  .booklist-section .booklist-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(14rem, auto));
    grid-gap: 1rem;
    padding: 0 1rem;
  }
}

.booklist-section .booklist-wrapper .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booklist-section .booklist-wrapper .wrapper li {
  flex-grow: 1;
}

.booklist-section .booklist-wrapper .wrapper li > img {
  height: 100%;
}

.booklist-section .booklist-wrapper .wrapper li > img.border {
  height: 100%;
  border: 1.5px solid var(--dark);
  border-bottom: none !important;
}

.booklist-section .booklist-wrapper .book-item {
  height: auto;
  display: flex;
  flex-direction: column;
  border: none;

  position: relative;
  overflow: hidden;
  cursor: pointer;

  /* border: 1.5 solid var(--dark) !important; */
}

.booklist-section .booklist-wrapper .book-item > img {
  width: 100%;
  height: auto;
}

.booklist-section .booklist-wrapper .book-item .book-hover-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  transform: translateY(24rem);
  transition: all 0.3s ease;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #14181f 86.46%);

  display: flex;
  align-items: flex-end;
}

.booklist-section .booklist-wrapper .book-item:hover .book-hover-overlay {
  transform: translateY(0);
  opacity: 1;
}

.booklist-section
  .booklist-wrapper
  .book-item
  .book-hover-overlay
  .overlay-content {
  color: white;
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 1rem;
}

.booklist-section
  .booklist-wrapper
  .book-item
  .book-hover-overlay
  .overlay-content
  p {
  font-size: 1.2rem;
  font-weight: medium;
  margin-top: 2rem;
}

.booklist-section
  .booklist-wrapper
  .book-item
  .book-hover-overlay
  .overlay-content
  .star-wrap {
  max-width: 12rem;
  margin: 0 auto;
}

/* bookwrapper */
.wrapper {
  display: flex;
  flex-direction: column;
}
